.bodyC footer, .bodySn footer, .bodyA footer, .bodyG footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* index */
.bodyIndex {
  height: 100vh;
  background-image: url(../img/fondoNegro.jpg);
  background-size: cover;
  background-repeat: repeat;
  display: grid;
  grid-template-areas: "headerI headerI headerI" "sectionM sectionM sectionM" "sectionF redes sectionV" "sectionF redes sectionV" "footer footer footer" "footer footer footer"; }
  .bodyIndex .headerI {
    grid-area: headerI; }
    .bodyIndex .headerI nav {
      background-image: linear-gradient(to right, rgba(255, 0, 0, 0.219), black, rgba(255, 0, 0, 0.219));
      margin-bottom: 0.5rem; }
      .bodyIndex .headerI nav div img {
        width: 150px;
        border-radius: 50%;
        border: 5px solid rgba(0, 0, 0, 0.87); }
      .bodyIndex .headerI nav div #navbarSupportedContent ul {
        margin-left: -1.2rem; }
        .bodyIndex .headerI nav div #navbarSupportedContent ul li {
          font-size: 28px;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
          border-bottom: 4px white solid; }
          .bodyIndex .headerI nav div #navbarSupportedContent ul li:hover {
            transform: scale(1.1);
            transition: 1s; }
          .bodyIndex .headerI nav div #navbarSupportedContent ul li a {
            text-decoration: none;
            font-family: 'Bebas Neue', cursive;
            color: white;
            text-shadow: 2px 2px rgba(0, 0, 0, 0.87); }
            .bodyIndex .headerI nav div #navbarSupportedContent ul li a:hover {
              text-decoration: none;
              font-family: 'Bebas Neue', cursive;
              color: red;
              text-shadow: 2px 2px rgba(0, 0, 0, 0.87); }
  .bodyIndex .sectionM {
    grid-area: sectionM;
    padding-top: 1rem;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.219), black, rgba(255, 0, 0, 0.219)); }
    .bodyIndex .sectionM div h1 {
      text-align: center;
      font-family: 'Anton', sans-serif;
      font-size: 60px;
      color: white;
      text-shadow: 9px 9px rgba(0, 0, 0, 0.87); }
    .bodyIndex .sectionM div h2 {
      text-align: center;
      margin-bottom: 20px;
      font-family: 'Bebas Neue', cursive;
      font-size: 35px;
      color: white;
      text-shadow: 6px 6px rgba(0, 0, 0, 0.87); }

@keyframes latir {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.01); } }
  .bodyIndex .sectionF {
    grid-area: sectionF;
    display: flex;
    justify-content: center; }
    .bodyIndex .sectionF p {
      display: flex;
      flex-direction: column;
      font-size: 30px;
      color: white;
      text-shadow: 2px 2px rgba(255, 0, 0, 0.219);
      font-family: 'Anton', sans-serif;
      margin-top: 30px;
      animation-name: latir;
      animation-iteration-count: infinite;
      animation-duration: 2s; }
      .bodyIndex .sectionF p span {
        color: red; }
  .bodyIndex .sectionV {
    grid-area: sectionV;
    display: flex;
    justify-content: center; }
    .bodyIndex .sectionV iframe {
      width: 300px;
      border: solid 5px rgba(255, 0, 0, 0.219);
      margin-top: 1rem;
      margin-bottom: 1rem; }
  .bodyIndex .sectionR {
    grid-area: redes; }
    .bodyIndex .sectionR .redes {
      padding: 5px;
      font-family: 'Bebas Neue', cursive;
      color: white;
      text-shadow: 3px 3px rgba(0, 0, 0, 0.87);
      display: flex;
      justify-content: center;
      margin-top: 60px;
      text-align: center; }
      .bodyIndex .sectionR .redes h3 {
        font-size: 40px;
        background-color: rgba(255, 0, 0, 0.219);
        padding-left: 30px;
        padding-right: 30px;
        border: 1px white solid; }
    .bodyIndex .sectionR .redes2 {
      text-align: center;
      margin-bottom: 15px;
      margin-top: 30px; }
      .bodyIndex .sectionR .redes2 a {
        margin: 10px; }
      .bodyIndex .sectionR .redes2 img {
        width: 60px;
        border-radius: 50%; }
        .bodyIndex .sectionR .redes2 img:hover {
          width: 55px;
          border-radius: 50%;
          border: 3px red solid;
          transform: scale(1.3);
          transition: 300ms ease; }
  .bodyIndex footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.87);
    padding-top: 1rem; }
    .bodyIndex footer h4 {
      color: white;
      text-shadow: 1px 1px rgba(255, 0, 0, 0.219);
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      margin-right: 5px; }
    .bodyIndex footer a {
      padding-left: 1rem; }
    .bodyIndex footer img {
      width: 30px;
      border-radius: 50%; }
      .bodyIndex footer img:hover {
        border-radius: 50%;
        border: 3px red solid;
        transform: scale(1.3);
        transition: 500ms ease; }

/* index version mobile */
@media only screen and (max-width: 600px) {
  .bodyIndex {
    grid-template-areas: "headerI headerI" "sectionM sectionM" "redes redes" "sectionF sectionF" "sectionV sectionV" "footer footer"; }
    .bodyIndex .headerI nav {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.87));
      margin-bottom: 2rem; }
      .bodyIndex .headerI nav div img {
        width: 100px;
        border: 5px solid rgba(255, 0, 0, 0.219); }
      .bodyIndex .headerI nav div #navbarSupportedContent ul li {
        text-align: center;
        background-color: rgba(2, 2, 2, 0);
        font-size: 25px;
        padding-left: 0rem;
        padding-right: 0rem;
        margin-right: 0rem;
        margin-left: 1.5rem;
        border: none; }
    .bodyIndex .sectionM {
      padding-bottom: 0.5rem; }
      .bodyIndex .sectionM div h2 {
        margin-bottom: 1rem; }
    .bodyIndex .sectionF {
      display: flex;
      align-items: center; }
      .bodyIndex .sectionF p {
        display: flex;
        align-items: center;
        font-size: 30px;
        margin-top: 2rem; }
    .bodyIndex .sectionV {
      display: flex;
      align-items: center; }
      .bodyIndex .sectionV iframe {
        margin-bottom: 1rem; }
    .bodyIndex .sectionR .redes {
      margin-top: 4rem;
      text-align: center; }
      .bodyIndex .sectionR .redes h3 {
        font-size: 45px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 2rem;
        padding-right: 2rem; }
    .bodyIndex .sectionR .redes2 {
      text-align: center;
      margin-bottom: 0.5rem;
      margin-top: 3rem; }
      .bodyIndex .sectionR .redes2 a {
        margin: 1.5rem; }
      .bodyIndex .sectionR .redes2 img {
        width: 75px; }
    .bodyIndex footer {
      grid-area: footer;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.87);
      padding-top: 1rem; }
      .bodyIndex footer h4 {
        color: white;
        text-shadow: 1px 1px rgba(255, 0, 0, 0.219);
        font-family: 'Roboto', sans-serif;
        font-size: 10px; }
      .bodyIndex footer a {
        padding: 0.5rem;
        padding-bottom: 0.8rem; }
      .bodyIndex footer img {
        width: 20px; }
        .bodyIndex footer img:hover {
          width: 30px;
          border-radius: 50%;
          border: 3px red solid;
          transform: scale(1.1);
          transition: 500ms ease; } }

/* contactanos*/
.bodyC {
  height: 100vh;
  background-image: url(../img/fondoNegro.jpg);
  background-size: cover;
  background-repeat: repeat;
  display: grid;
  grid-template-areas: "headerC headerC headerC" "headerC headerC headerC" "info info info" "info info info" "redesC redesC redesC" "formu formu formu" "formu formu formu" "formu formu formu" "footerC footerC footerC"; }
  .bodyC .headerC {
    grid-area: headerC;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.219), black, rgba(255, 0, 0, 0.219)); }
    .bodyC .headerC nav div img {
      width: 150px;
      border-radius: 50%;
      border: 5px solid rgba(0, 0, 0, 0.87); }
    .bodyC .headerC nav div #navbarSupportedContent ul {
      margin-left: -1.2rem; }
      .bodyC .headerC nav div #navbarSupportedContent ul li {
        font-size: 28px;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        border-bottom: 4px white solid; }
        .bodyC .headerC nav div #navbarSupportedContent ul li:hover {
          transform: scale(1.1);
          transition: 1s; }
        .bodyC .headerC nav div #navbarSupportedContent ul li a {
          text-decoration: none;
          font-family: 'Bebas Neue', cursive;
          color: white;
          text-shadow: 2px 2px rgba(0, 0, 0, 0.87); }
          .bodyC .headerC nav div #navbarSupportedContent ul li a:hover {
            text-decoration: none;
            font-family: 'Bebas Neue', cursive;
            color: red;
            text-shadow: 2px 2px rgba(0, 0, 0, 0.87); }
    .bodyC .headerC div h1 {
      font-family: 'Bebas Neue', cursive;
      color: white;
      text-shadow: 3px 3px rgba(0, 0, 0, 0.87);
      font-size: 35px;
      text-align: center;
      margin-top: -1rem; }
  .bodyC main {
    grid-area: info; }
    .bodyC main h2 {
      margin-bottom: 20px;
      font-family: 'Bebas Neue', cursive;
      font-size: 60px;
      color: white;
      text-shadow: 3px 3px rgba(255, 0, 0, 0.219);
      text-align: center;
      background-color: rgba(0, 0, 0, 0.87); }
    .bodyC main .datos {
      width: 100%;
      font-family: 'Bebas Neue', cursive;
      font-size: 25px;
      margin-bottom: 1px;
      color: white;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.87);
      padding-bottom: 15px;
      padding-top: 15px; }
      .bodyC main .datos div .tel {
        font-size: 40px;
        text-decoration: underline rgba(255, 0, 0, 0.219);
        margin-bottom: 5px; }
      .bodyC main .datos div h3 {
        font-size: 35px; }
  .bodyC .redesC {
    grid-area: redesC;
    font-family: 'Bebas Neue', cursive;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.87);
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 1rem; }
    .bodyC .redesC h4 {
      font-size: 40px;
      text-decoration: underline rgba(255, 0, 0, 0.219);
      margin-bottom: 5px; }
    .bodyC .redesC a {
      margin: 15px; }
    .bodyC .redesC img {
      width: 55px;
      border-radius: 50%; }
      .bodyC .redesC img:hover {
        width: 55px;
        border-radius: 50%;
        border: 3px red solid;
        transform: scale(1.3);
        transition: 300ms ease; }
  .bodyC .formu {
    grid-area: formu; }
    .bodyC .formu .tituloForm {
      width: 100%;
      font-family: 'Bebas Neue', cursive;
      margin-top: 10px;
      margin-bottom: 10px;
      color: white;
      text-align: center;
      background-color: rgba(255, 0, 0, 0.219); }
      .bodyC .formu .tituloForm h4 {
        font-size: 35px;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.87); }
    .bodyC .formu .contForm {
      display: flex;
      justify-content: center; }
      .bodyC .formu .contForm form {
        width: 50%;
        margin-bottom: 20px;
        font-family: 'Bebas Neue', cursive;
        font-size: 20px;
        color: white;
        background-color: rgba(0, 0, 0, 0.87);
        text-align: center; }
        .bodyC .formu .contForm form fieldset legend {
          color: white;
          font-size: 30px;
          text-decoration: underline rgba(255, 0, 0, 0.219);
          text-align: center; }
        .bodyC .formu .contForm form fieldset div {
          margin-top: 0.6rem; }
        .bodyC .formu .contForm form fieldset .ayuda div label {
          font-size: 25px;
          text-decoration: underline 1px rgba(255, 0, 0, 0.219); }
  .bodyC footer {
    grid-area: footerC;
    margin-top: 2rem;
    background-color: rgba(0, 0, 0, 0.87);
    padding-top: 1rem;
    padding-bottom: 1rem; }
    .bodyC footer h4 {
      color: white;
      text-shadow: 2px 2px rgba(255, 0, 0, 0.219);
      font-family: 'Roboto', sans-serif;
      font-size: 25px;
      padding-bottom: 1rem; }
    .bodyC footer div {
      margin-bottom: 1.5rem; }
      .bodyC footer div a {
        padding: 1rem; }
      .bodyC footer div img {
        width: 40px;
        border-radius: 50%; }
        .bodyC footer div img:hover {
          border-radius: 50%;
          border: 3px red solid;
          transform: scale(1.3);
          transition: 800ms ease; }
    .bodyC footer h5 {
      color: white;
      text-shadow: 2px 2px rgba(255, 0, 0, 0.219);
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      padding-bottom: 1rem; }
    .bodyC footer img {
      width: 30px;
      border-radius: 50%; }
      .bodyC footer img:hover {
        border-radius: 50%;
        border: 3px red solid;
        transform: scale(1.3);
        transition: 800ms ease; }

/* contactanos version mobile */
@media only screen and (max-width: 600px) {
  .bodyC {
    grid-template-areas: "headerC headerC" "headerC headerC" "info info" "info info" "redesC redesC" "formu formu" "formu formu" "footerC footerC"; }
    .bodyC .headerC {
      background-image: none; }
      .bodyC .headerC nav {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.87));
        margin-bottom: 2rem; }
        .bodyC .headerC nav div img {
          width: 100px;
          border: 5px solid rgba(255, 0, 0, 0.219); }
        .bodyC .headerC nav div #navbarSupportedContent ul li {
          text-align: center;
          background-color: rgba(2, 2, 2, 0);
          font-size: 25px;
          padding-left: 0rem;
          padding-right: 0rem;
          margin-right: 0rem;
          margin-left: 1.5rem;
          border: none; }
      .bodyC .headerC div h1 {
        text-shadow: 2px 2px rgba(255, 0, 0, 0.219);
        font-size: 30px;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem; }
    .bodyC main h2 {
      margin-bottom: 1rem;
      font-size: 50px;
      text-shadow: 2px 2px rgba(255, 0, 0, 0.219);
      text-align: center;
      background-color: rgba(0, 0, 0, 0.87); }
    .bodyC main .datos {
      margin-bottom: 0.5rem;
      padding-bottom: 1rem;
      padding-top: 1rem; }
      .bodyC main .datos div .tel {
        font-size: 35px;
        margin-bottom: 0.5rem; }
      .bodyC main .datos div h3 {
        font-size: 30px; }
    .bodyC .redesC {
      padding-top: 1rem;
      padding-bottom: 1rem;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem; }
      .bodyC .redesC h4 {
        margin-bottom: 1rem; }
      .bodyC .redesC a {
        margin: 1.5rem; }
      .bodyC .redesC img {
        width: 55px; }
    .bodyC .formu .tituloForm {
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      color: white;
      padding-top: 1rem;
      padding-bottom: 0.5rem; }
      .bodyC .formu .tituloForm h4 {
        font-size: 30px;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.87); }
    .bodyC .formu .contForm form {
      width: 60%;
      margin-bottom: 1rem;
      font-size: 22px; }
      .bodyC .formu .contForm form fieldset div {
        margin-top: 0.7rem; }
      .bodyC .formu .contForm form fieldset .ayuda {
        display: none; }
    .bodyC footer {
      align-items: center;
      margin-top: 1rem;
      padding-top: 1rem;
      padding-bottom: 1rem; }
      .bodyC footer h4 {
        color: white;
        text-shadow: 1px 1px rgba(255, 0, 0, 0.219);
        font-size: 15px; }
      .bodyC footer div img {
        width: 30px; }
      .bodyC footer h5 {
        text-shadow: 1px 1px rgba(255, 0, 0, 0.219);
        font-size: 12px; } }

/* Sobre nosotros */
.bodySn {
  height: 100vh;
  background-image: url(../img/fondoNegro.jpg);
  background-size: cover;
  background-repeat: repeat;
  display: grid;
  grid-template-areas: "headerSn headerSn headerSn" "mainSn mainSn mainSn" "mainSn mainSn mainSn" "equipo equipo equipo" "equipo equipo equipo" "equipo equipo equipo" "footerSn footerSn footerSn"; }
  .bodySn .headerSn {
    grid-area: headerSn;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.219), black, rgba(255, 0, 0, 0.219)); }
    .bodySn .headerSn nav div img {
      width: 150px;
      border-radius: 50%;
      border: 5px solid rgba(0, 0, 0, 0.87); }
    .bodySn .headerSn nav div #navbarSupportedContent ul {
      margin-left: -1.2rem; }
      .bodySn .headerSn nav div #navbarSupportedContent ul li {
        font-size: 28px;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        border-bottom: 4px white solid; }
        .bodySn .headerSn nav div #navbarSupportedContent ul li:hover {
          transform: scale(1.1);
          transition: 1s; }
        .bodySn .headerSn nav div #navbarSupportedContent ul li a {
          text-decoration: none;
          font-family: 'Bebas Neue', cursive;
          color: white;
          text-shadow: 2px 2px rgba(0, 0, 0, 0.87); }
          .bodySn .headerSn nav div #navbarSupportedContent ul li a:hover {
            text-decoration: none;
            font-family: 'Bebas Neue', cursive;
            color: red;
            text-shadow: 2px 2px rgba(0, 0, 0, 0.87); }
    .bodySn .headerSn div h1 {
      font-family: 'Bebas Neue', cursive;
      color: white;
      text-shadow: 3px 3px rgba(0, 0, 0, 0.87);
      font-size: 35px;
      text-align: center;
      margin-top: -1rem; }
  .bodySn main {
    grid-area: mainSn; }
    .bodySn main div {
      margin-top: 10px;
      background-color: rgba(0, 0, 0, 0.87);
      color: white;
      font-family: 'Roboto', sans-serif;
      margin-top: 20px;
      font-size: 20px;
      padding: 10px 100px 10px 100px;
      margin-bottom: 20px; }
      .bodySn main div h2 {
        font-family: 'Bebas Neue', cursive;
        text-align: center;
        font-size: 35px;
        text-decoration: underline rgba(255, 0, 0, 0.219);
        padding-top: 5px; }
  .bodySn .equipo {
    grid-area: equipo;
    text-align: center;
    padding: 20px; }
    .bodySn .equipo img {
      width: 400px;
      border: solid rgba(0, 0, 0, 0.87) 5px; }
  .bodySn footer {
    grid-area: footerSn;
    margin-top: 2rem;
    background-color: rgba(0, 0, 0, 0.87);
    padding-top: 1rem;
    padding-bottom: 1rem; }
    .bodySn footer h3 {
      color: white;
      text-shadow: 2px 2px rgba(255, 0, 0, 0.219);
      font-family: 'Roboto', sans-serif;
      font-size: 25px;
      padding-bottom: 1rem; }
    .bodySn footer div {
      margin-bottom: 1.5rem; }
      .bodySn footer div a {
        padding: 1rem; }
      .bodySn footer div img {
        width: 40px;
        border-radius: 50%; }
        .bodySn footer div img:hover {
          border-radius: 50%;
          border: 3px red solid;
          transform: scale(1.3);
          transition: 800ms ease; }
    .bodySn footer h4 {
      color: white;
      text-shadow: 2px 2px rgba(255, 0, 0, 0.219);
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      padding-bottom: 1rem; }
    .bodySn footer img {
      width: 30px;
      border-radius: 50%; }
      .bodySn footer img:hover {
        border-radius: 50%;
        border: 3px red solid;
        transform: scale(1.3);
        transition: 800ms ease; }

/*sobre nosotros version mobil*/
@media only screen and (max-width: 600px) {
  .bodySn {
    grid-template-areas: "headerSn headerSn" "headerSn headerSn" "mainSn mainSn" "equipo equipo" "equipo equipo" "equipo equipo" "footerSn footerSn"; }
    .bodySn .headerSn {
      background-image: none; }
      .bodySn .headerSn nav {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.87));
        margin-bottom: 2rem; }
        .bodySn .headerSn nav div img {
          width: 100px;
          border: 5px solid rgba(255, 0, 0, 0.219); }
        .bodySn .headerSn nav div #navbarSupportedContent ul li {
          text-align: center;
          background-color: rgba(2, 2, 2, 0);
          font-size: 25px;
          padding-left: 0rem;
          padding-right: 0rem;
          margin-right: 0rem;
          margin-left: 1.5rem;
          border: none; }
      .bodySn .headerSn div h1 {
        text-shadow: 2px 2px rgba(255, 0, 0, 0.219);
        font-size: 30px;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem; }
    .bodySn main div {
      margin-top: 1rem;
      background-color: rgba(255, 0, 0, 0.219);
      color: white;
      text-shadow: 1px 1px black;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      padding: 0.5rem 2rem 0.5rem 2rem;
      margin-bottom: 20px; }
      .bodySn main div h2 {
        font-family: 'Bebas Neue', cursive;
        text-align: center;
        font-size: 25px;
        text-decoration: underline rgba(255, 0, 0, 0.219);
        padding-top: 5px; }
    .bodySn .equipo {
      padding: 0.5rem; }
      .bodySn .equipo img {
        width: 150px;
        border: solid rgba(0, 0, 0, 0.87) 5px; }
    .bodySn footer {
      align-items: center;
      margin-top: 1rem;
      padding-top: 1rem;
      padding-bottom: 1rem; }
      .bodySn footer h3 {
        color: white;
        text-shadow: 1px 1px rgba(255, 0, 0, 0.219);
        font-size: 15px; }
      .bodySn footer div img {
        width: 30px; }
      .bodySn footer h4 {
        text-shadow: 1px 1px rgba(255, 0, 0, 0.219);
        font-size: 12px; } }

/* actividades */
.bodyA {
  height: 100vh;
  background-image: url(../img/fondoNegro.jpg);
  background-size: cover;
  background-repeat: repeat;
  display: grid;
  grid-template-areas: "headerA headerA headerA" "headerA headerA headerA" "mainA mainA mainA" "mainA mainA mainA" "mainA mainA mainA" "mainA mainA mainA" "footerA footerA footerA"; }
  .bodyA .headerA {
    grid-area: headerA;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.219), black, rgba(255, 0, 0, 0.219));
    padding-bottom: 5px; }
    .bodyA .headerA nav div img {
      width: 150px;
      border-radius: 50%;
      border: 5px solid rgba(0, 0, 0, 0.87); }
    .bodyA .headerA nav div #navbarSupportedContent ul {
      margin-left: -1.2rem; }
      .bodyA .headerA nav div #navbarSupportedContent ul li {
        font-size: 28px;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        border-bottom: 4px white solid; }
        .bodyA .headerA nav div #navbarSupportedContent ul li:hover {
          transform: scale(1.1);
          transition: 1s; }
        .bodyA .headerA nav div #navbarSupportedContent ul li a {
          text-decoration: none;
          font-family: 'Bebas Neue', cursive;
          color: white;
          text-shadow: 2px 2px rgba(0, 0, 0, 0.87); }
          .bodyA .headerA nav div #navbarSupportedContent ul li a:hover {
            text-decoration: none;
            font-family: 'Bebas Neue', cursive;
            color: red;
            text-shadow: 2px 2px rgba(0, 0, 0, 0.87); }
    .bodyA .headerA div h1 {
      font-family: 'Bebas Neue', cursive;
      color: white;
      text-shadow: 3px 3px rgba(0, 0, 0, 0.87);
      font-size: 35px;
      text-align: center;
      margin-top: -1rem; }
  .bodyA main {
    grid-area: mainA; }
    .bodyA main h2 {
      margin-bottom: 20px;
      font-family: 'Bebas Neue', cursive;
      font-size: 60px;
      color: white;
      text-shadow: 3px 3px rgba(255, 0, 0, 0.219);
      text-align: center;
      background-color: rgba(0, 0, 0, 0.87); }
    .bodyA main div .table {
      background-color: rgba(255, 0, 0, 0.219);
      font-family: 'Bebas Neue', cursive;
      font-size: 40px;
      margin-bottom: 1px;
      color: white; }
      .bodyA main div .table thead .titulo-tabla {
        text-shadow: 2px 2px rgba(0, 0, 0, 0.87);
        text-decoration: underline rgba(255, 0, 0, 0.219); }
    .bodyA main div tbody tr td div {
      font-size: 30px; }
  .bodyA footer {
    grid-area: footerA;
    margin-top: 2rem;
    background-color: rgba(0, 0, 0, 0.87);
    padding-top: 1rem;
    padding-bottom: 1rem; }
    .bodyA footer h2 {
      color: white;
      text-shadow: 2px 2px rgba(255, 0, 0, 0.219);
      font-family: 'Roboto', sans-serif;
      font-size: 25px;
      padding-bottom: 1rem; }
    .bodyA footer div {
      margin-bottom: 1.5rem; }
      .bodyA footer div a {
        padding: 1rem; }
      .bodyA footer div img {
        width: 40px;
        border-radius: 50%; }
        .bodyA footer div img:hover {
          border-radius: 50%;
          border: 3px red solid;
          transform: scale(1.3);
          transition: 800ms ease; }
    .bodyA footer h3 {
      color: white;
      text-shadow: 2px 2px rgba(255, 0, 0, 0.219);
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      padding-bottom: 1rem; }
    .bodyA footer img {
      width: 30px;
      border-radius: 50%; }
      .bodyA footer img:hover {
        border-radius: 50%;
        border: 3px red solid;
        transform: scale(1.3);
        transition: 800ms ease; }

/* version mobile Actividades */
@media only screen and (max-width: 600px) {
  .bodyA {
    grid-template-areas: "headerA headerA" "headerA headerA" "mainA mainA" "mainA mainA" "mainA mainA" "footerA footerA" "footerA fotterA"; }
    .bodyA .headerA {
      background-image: none; }
      .bodyA .headerA nav {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.87));
        margin-bottom: 2rem; }
        .bodyA .headerA nav div img {
          width: 100px;
          border: 5px solid rgba(255, 0, 0, 0.219); }
        .bodyA .headerA nav div #navbarSupportedContent ul li {
          text-align: center;
          background-color: rgba(2, 2, 2, 0);
          font-size: 25px;
          padding-left: 0rem;
          padding-right: 0rem;
          margin-right: 0rem;
          margin-left: 1.5rem;
          border: none; }
      .bodyA .headerA div h1 {
        text-shadow: 2px 2px rgba(255, 0, 0, 0.219);
        font-size: 30px;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem; }
    .bodyA main h2 {
      margin-bottom: 1rem;
      font-size: 50px;
      text-shadow: 2px 2px rgba(255, 0, 0, 0.219);
      text-align: center;
      background-color: rgba(0, 0, 0, 0.87); }
    .bodyA main div .table {
      font-size: 25px;
      margin-bottom: 0.5rem; }
    .bodyA main div tbody tr td div {
      font-size: 20px;
      padding-bottom: 1.5rem; }
    .bodyA footer {
      align-items: center;
      margin-top: 1rem;
      padding-top: 1rem;
      padding-bottom: 1rem; }
      .bodyA footer h2 {
        color: white;
        text-shadow: 1px 1px rgba(255, 0, 0, 0.219);
        font-size: 15px; }
      .bodyA footer div img {
        width: 30px; }
      .bodyA footer h3 {
        text-shadow: 1px 1px rgba(255, 0, 0, 0.219);
        font-size: 12px; } }

/* galeria */
.bodyG {
  height: 100vh;
  background-image: url(../img/fondoNegro.jpg);
  background-size: cover;
  background-repeat: repeat;
  display: grid;
  grid-template-areas: "headerG headerG headerG" "headerG headerG headerG" "mainG mainG mainG" "mainG mainG mainG" "mainG mainG mainG" "mainG mainG mainG" "footerG footerG footerG"; }
  .bodyG .headerG {
    grid-area: headerG;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.219), black, rgba(255, 0, 0, 0.219));
    padding-bottom: 5px; }
    .bodyG .headerG nav div img {
      width: 150px;
      border-radius: 50%;
      border: 5px solid rgba(0, 0, 0, 0.87); }
    .bodyG .headerG nav div #navbarSupportedContent ul {
      margin-left: -1.2rem; }
      .bodyG .headerG nav div #navbarSupportedContent ul li {
        font-size: 28px;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        border-bottom: 4px white solid; }
        .bodyG .headerG nav div #navbarSupportedContent ul li:hover {
          transform: scale(1.1);
          transition: 1s; }
        .bodyG .headerG nav div #navbarSupportedContent ul li a {
          text-decoration: none;
          font-family: 'Bebas Neue', cursive;
          color: white;
          text-shadow: 2px 2px rgba(0, 0, 0, 0.87); }
          .bodyG .headerG nav div #navbarSupportedContent ul li a:hover {
            text-decoration: none;
            font-family: 'Bebas Neue', cursive;
            color: red;
            text-shadow: 2px 2px rgba(0, 0, 0, 0.87); }
    .bodyG .headerG div h1 {
      font-family: 'Bebas Neue', cursive;
      color: white;
      text-shadow: 3px 3px rgba(0, 0, 0, 0.87);
      font-size: 35px;
      text-align: center;
      margin-top: -2rem; }
  .bodyG main {
    grid-area: mainG; }
    .bodyG main h2 {
      margin-bottom: 20px;
      font-family: 'Bebas Neue', cursive;
      font-size: 60px;
      color: white;
      text-shadow: 3px 3px rgba(255, 0, 0, 0.219);
      text-align: center;
      background-color: rgba(0, 0, 0, 0.87); }
    .bodyG main div {
      text-align: center; }
      .bodyG main div h3 {
        margin: 1rem;
        font-family: 'Bebas Neue', cursive;
        font-size: 35px;
        color: white;
        text-shadow: 2px 2px rgba(255, 0, 0, 0.219);
        text-align: center;
        background-color: rgba(0, 0, 0, 0.87); }
      .bodyG main div p {
        padding: 1rem; }
        .bodyG main div p img {
          width: 300px;
          height: 300px;
          padding: 0.2rem;
          background-color: rgba(255, 0, 0, 0.219);
          border-radius: 5%; }
          .bodyG main div p img:hover {
            transform: scale(1.3);
            transition: 1s; }
    .bodyG main div iframe {
      width: 400px;
      height: 350px;
      padding: 1rem;
      background-color: rgba(255, 0, 0, 0.219); }
  .bodyG footer {
    grid-area: footerG;
    margin-top: 2rem;
    background-color: rgba(0, 0, 0, 0.87);
    padding-top: 1rem;
    padding-bottom: 1rem; }
    .bodyG footer h4 {
      color: white;
      text-shadow: 2px 2px rgba(255, 0, 0, 0.219);
      font-family: 'Roboto', sans-serif;
      font-size: 25px;
      padding-bottom: 1rem; }
    .bodyG footer div {
      margin-bottom: 1.5rem; }
      .bodyG footer div a {
        padding: 1rem; }
      .bodyG footer div img {
        width: 40px;
        border-radius: 50%; }
        .bodyG footer div img:hover {
          border-radius: 50%;
          border: 3px red solid;
          transform: scale(1.3);
          transition: 800ms ease; }
    .bodyG footer h5 {
      color: white;
      text-shadow: 2px 2px rgba(255, 0, 0, 0.219);
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      padding-bottom: 1rem; }
    .bodyG footer img {
      width: 30px;
      border-radius: 50%; }
      .bodyG footer img:hover {
        border-radius: 50%;
        border: 3px red solid;
        transform: scale(1.3);
        transition: 800ms ease; }
