* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* index */
body {
  background-image: url(../img/fondo2.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.bodyIndex {
  height: 100vh;
  display: grid;
  grid-template-areas: "header header header" "sectionM sectionM sectionM" "sectionF redes sectionV" "sectionF redes sectionV" "footer footer footer"; }
  .bodyIndex .headerI {
    grid-area: header;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.219), black, rgba(255, 0, 0, 0.219));
    padding-bottom: 10px; }
    .bodyIndex .headerI div img {
      width: 150px;
      border-radius: 50%;
      border: 5px solid rgba(0, 0, 0, 0.87); }
    .bodyIndex .headerI div h1 {
      margin-top: -8rem;
      text-align: center;
      font-family: 'Anton', sans-serif;
      font-size: 60px;
      color: white;
      text-shadow: 9px 9px rgba(0, 0, 0, 0.87); }
    .bodyIndex .headerI div h2 {
      text-align: center;
      margin-bottom: 20px;
      font-family: 'Bebas Neue', cursive;
      font-size: 35px;
      color: white;
      text-shadow: 6px 6px rgba(0, 0, 0, 0.87); }
  .bodyIndex .sectionM {
    grid-area: sectionM; }
    .bodyIndex .sectionM nav {
      text-align: center;
      background-image: linear-gradient(to right, rgba(255, 0, 0, 0.219), black, rgba(255, 0, 0, 0.219));
      margin-bottom: 20px;
      margin-top: 20px; }
      .bodyIndex .sectionM nav ul li {
        display: inline-block;
        background-color: rgba(255, 0, 0, 0.219);
        font-size: 30px;
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
        margin: 10px 50px;
        border: 1px white solid; }
        .bodyIndex .sectionM nav ul li:hover {
          transform: scale(1.1);
          transition: 1s; }
        .bodyIndex .sectionM nav ul li a {
          text-decoration: none;
          font-family: 'Bebas Neue', cursive;
          color: white;
          text-shadow: 2px 2px rgba(0, 0, 0, 0.87); }
          .bodyIndex .sectionM nav ul li a:hover {
            text-decoration: none;
            font-family: 'Bebas Neue', cursive;
            color: red;
            text-shadow: 2px 2px rgba(0, 0, 0, 0.87); }

@keyframes latir {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.01); } }
  .bodyIndex .sectionF {
    grid-area: sectionF;
    display: flex;
    justify-content: flex-start;
    margin-left: 20px; }
    .bodyIndex .sectionF p {
      display: flex;
      flex-direction: column;
      font-size: 30px;
      color: white;
      text-shadow: 2px 2px rgba(255, 0, 0, 0.219);
      font-family: 'Anton', sans-serif;
      margin-left: 60px;
      margin-top: 30px;
      animation-name: latir;
      animation-iteration-count: infinite;
      animation-duration: 2s; }
      .bodyIndex .sectionF p span {
        color: red; }
  .bodyIndex .sectionV {
    grid-area: sectionV;
    display: flex;
    justify-content: end; }
    .bodyIndex .sectionV video {
      width: 300px;
      border: solid 5px rgba(255, 0, 0, 0.219);
      margin-right: 100px; }
  .bodyIndex .sectionR {
    grid-area: redes; }
    .bodyIndex .sectionR .redes {
      padding: 5px;
      font-family: 'Bebas Neue', cursive;
      font-size: 30px;
      color: white;
      text-shadow: 3px 3px rgba(0, 0, 0, 0.87);
      display: flex;
      justify-content: center;
      margin-top: 60px;
      text-align: center; }
      .bodyIndex .sectionR .redes h3 {
        background-color: rgba(255, 0, 0, 0.219);
        padding-left: 30px;
        padding-right: 30px;
        border: 1px white solid; }
    .bodyIndex .sectionR .redes2 {
      text-align: center;
      margin-bottom: 15px;
      margin-top: 30px; }
      .bodyIndex .sectionR .redes2 a {
        margin: 10px; }
      .bodyIndex .sectionR .redes2 img {
        width: 55px;
        border-radius: 50%; }
        .bodyIndex .sectionR .redes2 img:hover {
          width: 55px;
          border-radius: 50%;
          border: 3px red solid;
          transform: scale(1.3);
          transition: 300ms ease; }
  .bodyIndex footer {
    grid-area: footer;
    display: flex;
    align-items: flex-end;
    justify-content: end; }
    .bodyIndex footer h4 {
      color: white;
      text-shadow: 2px 2px rgba(255, 0, 0, 0.219);
      font-family: 'Roboto', sans-serif;
      font-size: 15px;
      margin-right: 5px; }

/* index version mobile del index*/
@media only screen and (min-width: 320px) and (max-width: 599px) {
  body {
    background-image: url(../img/fondo4.jpg);
    background-size: cover;
    background-repeat: no-repeat; }
  .bodyIndex {
    height: 100vh;
    display: grid;
    grid-template-areas: "header header" "sectionM sectionF" "sectionM sectionF" "sectionM sectionV" "sectionM sectionV" "redes redes" "footer footer"; }
    .bodyIndex .headerI {
      grid-area: header;
      padding-bottom: 10px; }
      .bodyIndex .headerI div img {
        width: 60px; }
      .bodyIndex .headerI div h1 {
        margin-top: -3rem;
        font-size: 28px;
        margin-left: 30px; }
      .bodyIndex .headerI div h2 {
        margin-bottom: 10px;
        font-size: 18px; }
    .bodyIndex .sectionM nav {
      padding-top: 1px;
      padding-bottom: 1px;
      margin-bottom: 10px;
      margin-top: 50px; }
      .bodyIndex .sectionM nav ul li {
        display: block;
        font-size: 25px;
        margin: 30px; }
    .bodyIndex .sectionF p {
      font-size: 25px;
      margin-left: 60px;
      margin-top: 60px; }
    .bodyIndex .sectionV {
      display: flex;
      align-items: flex-end; }
      .bodyIndex .sectionV video {
        width: 230px;
        margin-bottom: 5rem;
        margin-right: 2rem; }
    .bodyIndex .sectionR .redes {
      margin-top: 30px; }
    .bodyIndex .sectionR .redes2 a {
      margin: 15px; }
    .bodyIndex .sectionR .redes2 img {
      width: 50px; }
    .bodyIndex .footerI h4 {
      font-size: 10px; } }

/* contactanos*/
.bodyC {
  height: 100vh;
  display: grid;
  background-image: url(../img/fondoNegro.jpg);
  background-size: cover;
  background-repeat: repeat;
  grid-template-areas: "headerC headerC headerC" "info info info" "info info info" "redesC redesC redesC" "formu formu formu" "formu formu formu" "formu formu formu" "footerC footerC footerC"; }
  .bodyC .headerC {
    grid-area: headerC;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.219), black, rgba(255, 0, 0, 0.219)); }
    .bodyC .headerC div img {
      width: 100px;
      border-radius: 50%;
      border: 5px solid rgba(0, 0, 0, 0.87); }
    .bodyC .headerC div h1 {
      font-family: 'Bebas Neue', cursive;
      color: white;
      text-shadow: 3px 3px rgba(255, 0, 0, 0.219);
      font-size: 30px;
      text-align: center;
      margin-top: -2rem; }
    .bodyC .headerC div nav {
      text-align: center;
      background-color: rgba(0, 0, 0, 0.87);
      margin-bottom: 20px;
      margin-top: 20px; }
      .bodyC .headerC div nav ul li {
        display: inline-block;
        background-color: rgba(255, 0, 0, 0.219);
        font-size: 30px;
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
        margin: 10px 50px;
        border: 1px white solid; }
        .bodyC .headerC div nav ul li:hover {
          transform: scale(1.1);
          transition: 1s; }
        .bodyC .headerC div nav ul li a {
          text-decoration: none;
          font-family: 'Bebas Neue', cursive;
          color: white;
          text-shadow: 2px 2px rgba(0, 0, 0, 0.87); }
          .bodyC .headerC div nav ul li a:hover {
            text-decoration: none;
            font-family: 'Bebas Neue', cursive;
            color: red; }
  .bodyC main {
    grid-area: info; }
    .bodyC main h2 {
      margin-bottom: 20px;
      font-family: 'Bebas Neue', cursive;
      font-size: 60px;
      color: white;
      text-shadow: 3px 3px rgba(255, 0, 0, 0.219);
      text-align: center;
      background-color: rgba(0, 0, 0, 0.87); }
    .bodyC main .datos {
      width: 100%;
      font-family: 'Bebas Neue', cursive;
      font-size: 25px;
      margin-bottom: 1px;
      color: white;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.87);
      padding-bottom: 15px;
      padding-top: 15px; }
      .bodyC main .datos div h2 {
        font-size: 40px;
        text-decoration: underline rgba(255, 0, 0, 0.219);
        margin-bottom: 5px; }
  .bodyC .redesC {
    grid-area: redesC;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.87);
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 1rem; }
    .bodyC .redesC h4 {
      font-size: 40px;
      text-decoration: underline rgba(255, 0, 0, 0.219);
      margin-bottom: 5px; }
    .bodyC .redesC a {
      margin: 15px; }
    .bodyC .redesC img {
      width: 55px;
      border-radius: 50%; }
      .bodyC .redesC img:hover {
        width: 55px;
        border-radius: 50%;
        border: 3px red solid;
        transform: scale(1.3);
        transition: 300ms ease; }
  .bodyC .formu {
    grid-area: formu; }
    .bodyC .formu .tituloForm {
      width: 100%;
      font-family: 'Bebas Neue', cursive;
      font-size: 30px;
      margin-top: 10px;
      margin-bottom: 10px;
      color: white;
      text-align: center;
      background-color: rgba(255, 0, 0, 0.219); }
    .bodyC .formu .contForm {
      display: flex;
      justify-content: center; }
    .bodyC .formu form {
      width: 50%;
      margin-bottom: 20px;
      font-family: 'Bebas Neue', cursive;
      font-size: 20px;
      color: white;
      background-color: rgba(0, 0, 0, 0.87);
      text-align: center; }
      .bodyC .formu form fieldset legend {
        color: white;
        font-size: 30px;
        text-decoration: underline rgba(255, 0, 0, 0.219);
        text-align: center; }
      .bodyC .formu form fieldset div {
        margin-top: 0.6rem; }
      .bodyC .formu form fieldset .ayuda {
        text-decoration: underline solid rgba(255, 0, 0, 0.219); }
  .bodyC footer {
    grid-area: footerC;
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
    background-color: rgba(0, 0, 0, 0.87); }
    .bodyC footer h4 {
      padding: 10px;
      color: white;
      text-shadow: 2px 2px rgba(255, 0, 0, 0.219);
      font-family: 'Roboto', sans-serif;
      font-size: 15px; }

/* Sobre nosotros */
.bodySn {
  height: 100vh;
  display: grid;
  background-image: url(../img/fondoNegro.jpg);
  background-size: cover;
  background-repeat: repeat;
  grid-template-areas: "headerSn headerSn headerSn" "mainSn mainSn mainSn" "mainSn mainSn mainSn" "equipo equipo equipo" "equipo equipo equipo" "equipo equipo equipo" "footerSn footerSn footerSn"; }
  .bodySn .headerSn {
    grid-area: headerSn;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.219), black, rgba(255, 0, 0, 0.219)); }
    .bodySn .headerSn img {
      width: 100px;
      border-radius: 50%;
      border: 5px solid rgba(0, 0, 0, 0.87); }
    .bodySn .headerSn h1 {
      font-family: 'Bebas Neue', cursive;
      color: white;
      text-shadow: 3px 3px rgba(255, 0, 0, 0.219);
      font-size: 30px;
      text-align: center;
      margin-top: -2rem; }
    .bodySn .headerSn nav {
      text-align: center;
      background-color: rgba(0, 0, 0, 0.87);
      margin-bottom: 20px;
      margin-top: 20px; }
      .bodySn .headerSn nav ul li {
        display: inline-block;
        background-color: rgba(255, 0, 0, 0.219);
        font-size: 30px;
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
        margin: 10px 50px;
        border: 1px white solid; }
        .bodySn .headerSn nav ul li:hover {
          transform: scale(1.1);
          transition: 1s; }
        .bodySn .headerSn nav ul li a {
          text-decoration: none;
          font-family: 'Bebas Neue', cursive;
          color: white; }
          .bodySn .headerSn nav ul li a:hover {
            text-decoration: none;
            font-family: 'Bebas Neue', cursive;
            color: red; }
  .bodySn main {
    grid-area: mainSn; }
    .bodySn main div {
      margin-top: 10px;
      background-color: rgba(0, 0, 0, 0.87);
      color: white;
      font-family: 'Roboto', sans-serif;
      margin-top: 20px;
      font-size: 20px;
      padding: 10px 1px 10px 1px;
      margin-bottom: 20px; }
      .bodySn main div h2 {
        font-family: 'Bebas Neue', cursive;
        text-align: center;
        font-size: 35px;
        text-decoration: underline rgba(255, 0, 0, 0.219);
        padding-top: 5px; }
  .bodySn .equipo {
    grid-area: equipo;
    text-align: center;
    padding: 20px; }
    .bodySn .equipo img {
      width: 400px;
      border: solid rgba(0, 0, 0, 0.87) 5px; }
  .bodySn footer {
    grid-area: footerSn;
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
    background-color: rgba(0, 0, 0, 0.87); }
    .bodySn footer h3 {
      padding: 10px;
      color: white;
      text-shadow: 2px 2px rgba(255, 0, 0, 0.219);
      font-family: 'Roboto', sans-serif;
      font-size: 15px; }

/* actividades */
.bodyA {
  background-image: url(../img/fondoNegro.jpg);
  background-size: cover;
  background-repeat: repeat;
  grid-template-areas: "headerA headerA headerA" "headerA headerA headerA" "mainA mainA mainA" "mainA mainA mainA" "mainA mainA mainA" "mainA mainA mainA" "footerA footerA footerA"; }
  .bodyA .headerA {
    grid-area: headerA;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.219), black, rgba(255, 0, 0, 0.219));
    padding-bottom: 5px; }
    .bodyA .headerA img {
      width: 100px;
      border-radius: 50%;
      border: 5px solid rgba(0, 0, 0, 0.87); }
    .bodyA .headerA h1 {
      font-family: 'Bebas Neue', cursive;
      color: white;
      text-shadow: 3px 3px rgba(255, 0, 0, 0.219);
      font-size: 30px;
      text-align: center;
      margin-top: -2rem; }
    .bodyA .headerA nav {
      text-align: center;
      background-color: rgba(0, 0, 0, 0.87);
      margin-bottom: 20px;
      margin-top: 20px; }
      .bodyA .headerA nav ul li {
        display: inline-block;
        background-color: rgba(255, 0, 0, 0.219);
        font-size: 30px;
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
        margin: 10px 50px;
        border: 1px white solid; }
        .bodyA .headerA nav ul li:hover {
          transform: scale(1.1);
          transition: 1s; }
        .bodyA .headerA nav ul li a {
          text-decoration: none;
          font-family: 'Bebas Neue', cursive;
          color: white; }
          .bodyA .headerA nav ul li a:hover {
            text-decoration: none;
            font-family: 'Bebas Neue', cursive;
            color: red; }
  .bodyA main {
    grid-area: mainA; }
    .bodyA main h2 {
      margin-bottom: 20px;
      font-family: 'Bebas Neue', cursive;
      font-size: 60px;
      color: white;
      text-shadow: 3px 3px rgba(255, 0, 0, 0.219);
      text-align: center;
      background-color: rgba(0, 0, 0, 0.87); }
    .bodyA main div table {
      font-family: 'Bebas Neue', cursive;
      font-size: 30px;
      margin-bottom: 1px;
      color: white; }
    .bodyA main div tbody th, .bodyA main div tbody td {
      width: 50%; }
  .bodyA footer {
    grid-area: footerA;
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
    background-color: rgba(0, 0, 0, 0.87); }
    .bodyA footer h2 {
      padding: 10px;
      color: white;
      text-shadow: 2px 2px rgba(255, 0, 0, 0.219);
      font-family: 'Roboto', sans-serif;
      font-size: 15px; }

/* galeria */
.bodyG {
  background-image: url(../img/fondoNegro.jpg);
  background-size: cover;
  background-repeat: repeat;
  grid-template-areas: "headerG headerG headerG" "headerG headerG headerG" "mainG mainG mainG" "mainG mainG mainG" "mainG mainG mainG" "mainG mainG mainG" "footerG footerG footerG"; }
  .bodyG .headerG {
    grid-area: headerA;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.219), black, rgba(255, 0, 0, 0.219));
    padding-bottom: 5px; }
    .bodyG .headerG img {
      width: 100px;
      border-radius: 50%;
      border: 5px solid rgba(0, 0, 0, 0.87); }
    .bodyG .headerG h1 {
      font-family: 'Bebas Neue', cursive;
      color: white;
      text-shadow: 3px 3px rgba(255, 0, 0, 0.219);
      font-size: 30px;
      text-align: center;
      margin-top: -2rem; }
    .bodyG .headerG nav {
      text-align: center;
      background-color: rgba(0, 0, 0, 0.87);
      margin-bottom: 20px;
      margin-top: 20px; }
      .bodyG .headerG nav ul li {
        display: inline-block;
        background-color: rgba(255, 0, 0, 0.219);
        font-size: 30px;
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
        margin: 10px 50px;
        border: 1px white solid; }
        .bodyG .headerG nav ul li:hover {
          transform: scale(1.1);
          transition: 1s; }
        .bodyG .headerG nav ul li a {
          text-decoration: none;
          font-family: 'Bebas Neue', cursive;
          color: white; }
          .bodyG .headerG nav ul li a:hover {
            text-decoration: none;
            font-family: 'Bebas Neue', cursive;
            color: red; }
  .bodyG main {
    grid-area: mainG; }
    .bodyG main h2 {
      margin-bottom: 20px;
      font-family: 'Bebas Neue', cursive;
      font-size: 60px;
      color: white;
      text-shadow: 3px 3px rgba(255, 0, 0, 0.219);
      text-align: center;
      background-color: rgba(0, 0, 0, 0.87); }
    .bodyG main div {
      text-align: center; }
      .bodyG main div h3 {
        margin: 10px;
        font-family: 'Bebas Neue', cursive;
        font-size: 35px;
        color: white;
        text-shadow: 2px 2px rgba(255, 0, 0, 0.219);
        text-align: center;
        background-color: rgba(0, 0, 0, 0.87); }
      .bodyG main div p img {
        width: 400px;
        border: solid rgba(0, 0, 0, 0.87) 5px; }
      .bodyG main div p .img2 {
        width: 230px;
        border: solid rgba(0, 0, 0, 0.87) 5px; }
  .bodyG footer {
    grid-area: footerG;
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
    background-color: rgba(0, 0, 0, 0.87); }
    .bodyG footer h4 {
      padding: 10px;
      color: white;
      text-shadow: 2px 2px rgba(255, 0, 0, 0.219);
      font-family: 'Roboto', sans-serif;
      font-size: 15px; }
