// importo las variables
@import "utilities/variables";

// importo los mixin
@import "utilities/mixins.scss";

// importo maps
@import "utilities/maps";

// importo extends
@import "utilities/extends";

*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

/* index */
.bodyIndex{
    @include bg-body;
    grid-template-areas:"headerI headerI headerI"
                        "sectionM sectionM sectionM"
                        "sectionF redes sectionV"
                        "sectionF redes sectionV"
                        "footer footer footer"
                        "footer footer footer";
    .headerI{
        grid-area: headerI;
        nav{
            background-image: linear-gradient(to right, $colorR, black, $colorR);
            margin-bottom: 0.5rem;
            div{
                img{
                    width: 150px;
                    border-radius: 50%;
                    border: 5px solid $colorN;
                }
                #navbarSupportedContent{
                    ul{
                        margin-left: -1.2rem;
                        li{
                            font-size: 28px;
                            padding-left: 0.5rem;
                            padding-right: 0.5rem;
                            border-bottom: 4px white solid;
                            &:hover{
                                transform: scale(1.1);
                                transition: 1s;
                            }
                            a{
                                text-decoration: none;
                                font-family: 'Bebas Neue', cursive; 
                                color: white;
                                text-shadow: 2px 2px $colorN;
                                &:hover{
                                    text-decoration: none;
                                    font-family: 'Bebas Neue', cursive; 
                                    color:red;
                                    text-shadow: 2px 2px $colorN;
                                }
                            } 
                        }
                    }
                }
            }
        }
    }  
    .sectionM{
        grid-area: sectionM;
        padding-top: 1rem;
        background-image: linear-gradient(to right, $colorR, black, $colorR);
        div{
            h1{
                text-align: center;
                font-family: 'Anton', sans-serif;
                font-size: 60px;
                color: white;
                text-shadow: 9px 9px $colorN;
            }
            h2{
                text-align: center;
                margin-bottom: 20px;
                font-family: 'Bebas Neue', cursive;
                font-size: 35px;
                color: white;
                text-shadow: 6px 6px $colorN;
            }
        }
    }
    @keyframes latir{
        from{
            transform: scale(1);
        }
        to{
            transform: scale(1.01)
        }
    }
    .sectionF{
        grid-area: sectionF;
        display: flex;
        justify-content: center;
        p{
            display: flex;
            flex-direction: column;
            font-size: 30px;
            color: white;
            text-shadow: 2px 2px $colorR;
            font-family: 'Anton', sans-serif;
            margin-top: 30px;
            animation-name: latir;
            animation-iteration-count: infinite;
            animation-duration: 2s;
            span{
                color: red;
            }
        }
    }
    .sectionV{
        grid-area: sectionV;
        display: flex;
        justify-content: center;
        video{
            width: 300px ;
            border:solid 5px $colorR;
            margin-top: 1rem;
        }
    }
    .sectionR{
        grid-area: redes;
        .redes{
            padding: 5px;
            font-family: 'Bebas Neue', cursive; 
            color: white;
            text-shadow: 3px 3px $colorN;
            display: flex;
            justify-content: center;
            margin-top: 60px;
            text-align: center;
            h3{
                font-size: 40px;
                background-color: $colorR;
                padding-left: 30px;
                padding-right: 30px;
                border: 1px white solid;
            } 
        }
        .redes2{
                text-align: center;
                margin-bottom: 15px;
                margin-top: 30px;
            a{
                margin: 10px;
            }
            img{
                width: 60px;
                border-radius: 50%;
                &:hover{
                    width: 55px;
                    border-radius: 50%;
                    border: 3px red solid;
                    transform: scale(1.3);
                    transition: 300ms ease;
                }
            }
        }
    }
    footer{
        grid-area: footer;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $colorN;
        padding-top: 1rem;
        h4{
            color: white;
            text-shadow: 1px 1px $colorR;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            margin-right: 5px;  
        }
        a{
            padding-left: 1rem;
        }
        img{
            width: 30px;
            border-radius: 50%;
            &:hover{
                border-radius: 50%;
                border: 3px red solid;
                transform: scale(1.3);
                transition: 500ms ease;
            }
        }  
    }
}
/* index version mobile */ 
@import "utilities/MQIndex";

/* contactanos*/
.bodyC{
    @include bg-body;
    grid-template-areas:"headerC headerC headerC"
                        "headerC headerC headerC"
                        "info info info"
                        "info info info"
                        "redesC redesC redesC"
                        "formu formu formu"
                        "formu formu formu"
                        "formu formu formu"
                        "footerC footerC footerC";
    .headerC{
        grid-area: headerC;
        background-image: linear-gradient(to right, $colorR, black, $colorR);
        nav{
            div{
                img{
                    width: 150px;
                    border-radius: 50%;
                    border: 5px solid $colorN;
                }
                #navbarSupportedContent{
                    ul{
                        margin-left: -1.2rem;
                        li{
                            font-size: 28px;
                            padding-left: 0.5rem;
                            padding-right: 0.5rem;
                            border-bottom: 4px white solid;
                            &:hover{
                                transform: scale(1.1);
                                transition: 1s;
                            }
                            a{
                                text-decoration: none;
                                font-family: 'Bebas Neue', cursive; 
                                color: white;
                                text-shadow: 2px 2px $colorN;
                                &:hover{
                                    text-decoration: none;
                                    font-family: 'Bebas Neue', cursive; 
                                    color:red;
                                    text-shadow: 2px 2px $colorN;
                                }
                            } 
                        }
                    }
                }
            }
        }
        div{
            h1{
                font-family: 'Bebas Neue', cursive;
                color: white;
                text-shadow: 3px 3px $colorN;
                font-size: 35px;
                text-align: center;
                margin-top: -1rem;
            }
        }
    }
    main{
        grid-area: info;
        h2{
            margin-bottom: map-get($map: $subtitulos, $key: margin-bottom );
            font-family: 'Bebas Neue', cursive;
            font-size: map-get($map: $subtitulos, $key: font-size );
            color: white;
            text-shadow: 3px 3px $colorR;
            text-align: map-get($map: $subtitulos, $key: text-align );
            background-color: $colorN;
        }
        .datos{
            width: 100%;
            font-family: 'Bebas Neue', cursive;
            font-size: 25px;
            margin-bottom: 1px;
            color: white;
            text-align: center;
            background-color: $colorN;
            padding-bottom: 15px;
            padding-top: 15px;
            div{
                .tel{
                    font-size: 40px;
                    text-decoration:underline $colorR;
                    margin-bottom: 5px;
                }
                h3{
                    font-size: 35px;
                }
            }
        }
    }
    .redesC{
        grid-area: redesC;
        font-family: 'Bebas Neue', cursive;
        color: white;
        text-align: center;
        background-color: $colorN;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-top: 1rem;
        h4{
            font-size: 40px;
            text-decoration:underline rgba(255, 0, 0, 0.219);
            margin-bottom: 5px;
        }
        a{
            margin: 15px; 
        }
        img{
            width: 55px;
            border-radius: 50%;
            &:hover{
                width: 55px;
                border-radius: 50%;
                border: 3px red solid;
                transform: scale(1.3);
                transition: 300ms ease;
            }
        }
    }
    .formu{
        grid-area: formu;
        .tituloForm{
            width: 100%;
            font-family: 'Bebas Neue', cursive;
            margin-top: 10px;
            margin-bottom: 10px;
            color: white;
            text-align: center;
            background-color: $colorR;
            h4{
                font-size: 35px;
                text-shadow: 2px 2px $colorN;
            }
        }
        .contForm{
            display: flex;
            justify-content: center;
            form{
                width: 50%;
                margin-bottom: 20px;
                font-family: 'Bebas Neue', cursive;
                font-size: 20px;
                color: white;
                background-color: $colorN;
                text-align: center;
                fieldset{
                    legend{
                        color: white;
                        font-size: 30px;
                        text-decoration: underline $colorR;
                        text-align: center;
                    }
                    div{
                        margin-top: 0.6rem;
                    }
                    .ayuda{
                        div{
                            label{
                                font-size: 25px;
                                text-decoration: underline 1px $colorR;
                            }
                        }
                    }  
                }
            }
        }
    }
    footer{
        grid-area: footerC;
        @extend %footer-column;
        margin-top: 2rem;
        background-color: $colorN;
        padding-top: 1rem;
        padding-bottom: 1rem;
        h4{
            color: white;
            text-shadow: 2px 2px $colorR;
            font-family: 'Roboto', sans-serif;
            font-size: 25px;
            padding-bottom: 1rem;
        }
        div{
            margin-bottom: 1.5rem;
            a{
                padding: 1rem;
            }
            img{
                width: 40px;
                border-radius: 50%;
                &:hover{
                    border-radius: 50%;
                    border: 3px red solid;
                    transform: scale(1.3);
                    transition: 800ms ease;
                }
            }
        }
        h5{
            color: white;
            text-shadow: 2px 2px $colorR;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            padding-bottom: 1rem;
        }
        img{
            width: 30px;
            border-radius: 50%;
            &:hover{
                border-radius: 50%;
                border: 3px red solid;
                transform: scale(1.3);
                transition: 800ms ease;
            }
        }
    }
}
/* contactanos version mobile */
@import "utilities/MQContactanos";

/* Sobre nosotros */
.bodySn{
    @include bg-body;
    grid-template-areas:"headerSn headerSn headerSn"
                        "mainSn mainSn mainSn"
                        "mainSn mainSn mainSn"
                        "equipo equipo equipo"
                        "equipo equipo equipo"
                        "equipo equipo equipo"
                        "footerSn footerSn footerSn";
    .headerSn{
        grid-area: headerSn;
        background-image: linear-gradient(to right, $colorR, black, $colorR);
        nav{
            div{
                img{
                    width: 150px;
                    border-radius: 50%;
                    border: 5px solid $colorN;
                }
                #navbarSupportedContent{
                    ul{
                        margin-left: -1.2rem;
                        li{
                            font-size: 28px;
                            padding-left: 0.5rem;
                            padding-right: 0.5rem;
                            border-bottom: 4px white solid;
                            &:hover{
                                transform: scale(1.1);
                                transition: 1s;
                            }
                            a{
                                text-decoration: none;
                                font-family: 'Bebas Neue', cursive; 
                                color: white;
                                text-shadow: 2px 2px $colorN;
                                &:hover{
                                    text-decoration: none;
                                    font-family: 'Bebas Neue', cursive; 
                                    color:red;
                                    text-shadow: 2px 2px $colorN;
                                }
                            } 
                        }
                    }
                }
            }
        }
        div{
            h1{
                font-family: 'Bebas Neue', cursive;
                color: white;
                text-shadow: 3px 3px $colorN;
                font-size: 35px;
                text-align: center;
                margin-top: -1rem;
            }
        }
    }
    main{
        grid-area: mainSn;
        div{
            margin-top: 10px;
            background-color: $colorN;
            color: white;
            font-family: 'Roboto', sans-serif;
            margin-top: 20px;
            font-size: 20px;
            padding: 10px 100px 10px 100px;
            margin-bottom: 20px;
            h2{
                font-family: 'Bebas Neue', cursive;
                text-align: center;
                font-size: 35px;
                text-decoration: underline $colorR;
                padding-top: 5px;
            }
        }
    }
    .equipo{
        grid-area: equipo;
        text-align: center;
        padding: 20px;
        img{
            width: 400px;
            border: solid $colorN 5px;
        }
    }
    footer{
        grid-area: footerSn;
        @extend %footer-column;
        margin-top: 2rem;
        background-color: $colorN;
        padding-top: 1rem;
        padding-bottom: 1rem;
        h3{
            color: white;
            text-shadow: 2px 2px $colorR;
            font-family: 'Roboto', sans-serif;
            font-size: 25px;
            padding-bottom: 1rem; 
        }
        div{
            margin-bottom: 1.5rem;
            a{
                padding: 1rem;
            }
            img{
                width: 40px;
                border-radius: 50%;
                &:hover{
                    border-radius: 50%;
                    border: 3px red solid;
                    transform: scale(1.3);
                    transition: 800ms ease;
                }
            }
        }
        h4{
            color: white;
            text-shadow: 2px 2px $colorR;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            padding-bottom: 1rem;
        }
        img{
            width: 30px;
            border-radius: 50%;
            &:hover{
                border-radius: 50%;
                border: 3px red solid;
                transform: scale(1.3);
                transition: 800ms ease;
            }
        }
    }
}
/*sobre nosotros version mobil*/
@import "utilities/MQSobreNosotros";

/* actividades */
.bodyA{
    @include bg-body;
    grid-template-areas:"headerA headerA headerA"
                        "headerA headerA headerA"
                        "mainA mainA mainA"
                        "mainA mainA mainA"
                        "mainA mainA mainA"
                        "mainA mainA mainA"
                        "footerA footerA footerA";
    .headerA{
        grid-area: headerA;
        background-image: linear-gradient(to right, $colorR, black, $colorR); 
        padding-bottom: 5px;
        nav{
            div{
                img{
                    width: 150px;
                    border-radius: 50%;
                    border: 5px solid $colorN;
                }
                #navbarSupportedContent{
                    ul{
                        margin-left: -1.2rem;
                        li{
                            font-size: 28px;
                            padding-left: 0.5rem;
                            padding-right: 0.5rem;
                            border-bottom: 4px white solid;
                            &:hover{
                                transform: scale(1.1);
                                transition: 1s;
                            }
                            a{
                                text-decoration: none;
                                font-family: 'Bebas Neue', cursive; 
                                color: white;
                                text-shadow: 2px 2px $colorN;
                                &:hover{
                                    text-decoration: none;
                                    font-family: 'Bebas Neue', cursive; 
                                    color:red;
                                    text-shadow: 2px 2px $colorN;
                                }
                            } 
                        }
                    }
                }
            }
        }
        div{
            h1{
                font-family: 'Bebas Neue', cursive;
                color: white;
                text-shadow: 3px 3px $colorN;
                font-size: 35px;
                text-align: center;
                margin-top: -1rem;
            }
        }
    }
    main{
        grid-area: mainA;
        h2{
            margin-bottom: 20px;
            font-family: 'Bebas Neue', cursive;
            font-size: 60px;
            color: white;
            text-shadow: 3px 3px $colorR;
            text-align: center;
            background-color: $colorN;
        }
        div{
            .table{
                font-family: 'Bebas Neue', cursive;
                font-size: 40px;
                margin-bottom: 1px;
                color: white;
                thead{
                    .titulo-tabla{
                        text-shadow: 2px 2px $colorN;
                        text-decoration: underline $colorR;
                    }
                }
            }
            tbody{
                tr{
                    td{
                        div{
                            font-size: 30px;
                        }
                    }
                }
            }
        }
    }
    footer{
        grid-area: footerA;
        @extend %footer-column;
        margin-top: 2rem;
        background-color: $colorN;
        padding-top: 1rem;
        padding-bottom: 1rem;
        h2{
            color: white;
            text-shadow: 2px 2px $colorR;
            font-family: 'Roboto', sans-serif;
            font-size: 25px;
            padding-bottom: 1rem; 
        }
        div{
            margin-bottom: 1.5rem;
            a{
                padding: 1rem;
            }
            img{
                width: 40px;
                border-radius: 50%;
                &:hover{
                    border-radius: 50%;
                    border: 3px red solid;
                    transform: scale(1.3);
                    transition: 800ms ease;
                }
            }
        }
        h3{
            color: white;
            text-shadow: 2px 2px $colorR;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            padding-bottom: 1rem;
        }
        img{
            width: 30px;
            border-radius: 50%;
            &:hover{
                border-radius: 50%;
                border: 3px red solid;
                transform: scale(1.3);
                transition: 800ms ease;
            }
        }    
    }
}

/* version mobile Actividades */
@import "utilities/MQActividades";

/* galeria */
.bodyG{
    @include bg-body;
    grid-template-areas:"headerG headerG headerG"
                        "headerG headerG headerG"
                        "mainG mainG mainG"
                        "mainG mainG mainG"
                        "mainG mainG mainG"
                        "mainG mainG mainG"
                        "footerG footerG footerG";
    .headerG{
        grid-area: headerG;
        background-image: linear-gradient(to right, $colorR, black, $colorR); 
        padding-bottom: 5px;
        nav{
            div{
                img{
                    width: 150px;
                    border-radius: 50%;
                    border: 5px solid $colorN;
                }
                #navbarSupportedContent{
                    ul{
                        margin-left: -1.2rem;
                        li{
                            font-size: 28px;
                            padding-left: 0.5rem;
                            padding-right: 0.5rem;
                            border-bottom: 4px white solid;
                            &:hover{
                                transform: scale(1.1);
                                transition: 1s;
                            }
                            a{
                                text-decoration: none;
                                font-family: 'Bebas Neue', cursive; 
                                color: white;
                                text-shadow: 2px 2px $colorN;
                                &:hover{
                                    text-decoration: none;
                                    font-family: 'Bebas Neue', cursive; 
                                    color:red;
                                    text-shadow: 2px 2px $colorN;
                                }
                            } 
                        }
                    }
                }
            }
        }
        div{
            h1{
                font-family: 'Bebas Neue', cursive;
                color: white;
                text-shadow: 3px 3px $colorN;
                font-size: 35px;
                text-align: center;
                margin-top: -2rem;
            }
        }
    }
    main{
        grid-area: mainG;
        h2{
            margin-bottom: 20px;
            font-family: 'Bebas Neue', cursive;
            font-size: 60px;
            color: white;
            text-shadow: 3px 3px $colorR;
            text-align: center;
            background-color: $colorN;
        }
        div{
            text-align: center;
            
            h3{
                margin: 10px;
                font-family: 'Bebas Neue', cursive;
                font-size: 35px;
                color: white;
                text-shadow: 2px 2px $colorR;
                text-align: center;
                background-color: $colorN;
            }
            p{
                img{
                    width: 400px;
                    border: solid $colorN 5px;
                }
                .img2{
                    width: 230px;
                    border: solid $colorN 5px;
                }
            }
        }
    }
    footer{
        grid-area: footerG;
        @extend %footer-flex;
        margin-top: 2rem;
        background-color: $colorN;
        h4{
            padding: 10px;
            color: white;
            text-shadow: 2px 2px $colorR;
            font-family: 'Roboto', sans-serif;
            font-size: 15px ; 
        }
    }   
}

