// media querie version movile del index

@media only screen and (min-width:320px) and (max-width:599px){
    body{
        background-image: url(../../img/fondoNegro.jpg);
        background-size: cover;
        background-repeat: repeat;
        .bodyIndex{
            height: 100vh;
            display: grid;
            grid-template-areas:"headerI headerI"
                                "sectionM sectionM"
                                "redes redes"
                                "sectionF sectionV"
                                "sectionF sectionV"
                                "footer footer";
            .headerI{
                nav{
                    background-image:linear-gradient(to right, $colorN, $colorN);
                    margin-bottom: 0.3rem;
                    div{
                        img{
                            width: 100px;
                        }
                        #navbarSupportedContent{
                            ul{
                                li{
                                    text-align:start;
                                    background-color: rgba(2, 2, 2, 0);
                                    font-size: 25px;
                                    padding-left: 0rem;
                                    padding-right: 0rem;
                                    margin-right: 0rem;
                                    margin-left: 1.5rem;
                                    border: none;
                                }
                                a{ 
                                    text-shadow: 2px 2px $colorR;
                                }
                            }
                        }
                    }
                }
            }
            .sectionM{
                padding-bottom: 0.5rem;
                div{
                    h1{
                        
                    }
                    h2{
                        margin-bottom: 1rem;
                    }
                }
            }
            .sectionF{
                margin-left: 0.2rem;
                p{
                    font-size: 35px;
                    margin-left: 1rem;
                    margin-top: 1rem;
                }
            }
            .sectionV{
                // seguir desde aca
            }
        }
    }    
}

    
 
