// mediaquerie version mobile y tablet de sobreNosotros.html

@media only screen and (max-width:1023px){
    .bodySn{
        grid-template-areas:"headerSn headerSn"
                            "headerSn headerSn"
                            "mainSn mainSn"
                            "equipo equipo"
                            "equipo equipo"
                            "equipo equipo"
                            "footerSn footerSn";
        .headerSn{
            background-image: none;
            nav{
                background-image:linear-gradient(to right, $colorN, $colorN);
                margin-bottom: 2rem;
                div{
                    img{
                        width: 100px;
                        border: 5px solid $colorR;
                    }
                    #navbarSupportedContent{
                        ul{
                            li{
                                text-align:center;
                                background-color: rgba(2, 2, 2, 0);
                                font-size: 25px;
                                padding-left: 0rem;
                                padding-right: 0rem;
                                margin-right: 0rem;
                                margin-left: 1.5rem;
                                border: none;
                            }
                        }
                    }
                }
            }
            div{
                 h1{
                    text-shadow: 2px 2px $colorR;
                    font-size: 30px;
                    text-align: center;
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                }
            }
        }
        main{
            div{
                margin-top: 1rem;
                background-color: $colorR;
                color: white;
                text-shadow: 1px 1px black;
                font-family: 'Roboto', sans-serif;
                font-size: 20px;
                padding: 0.5rem 2rem 0.5rem 2rem;
                margin-bottom: 20px;
                h2{
                    font-family: 'Bebas Neue', cursive;
                    text-align: center;
                    font-size: 25px;
                    text-decoration: underline $colorR;
                    padding-top: 5px;
                }
            }
        }
        .equipo{
            padding: 0.5rem;
            img{
                width: 150px;
                border: solid $colorN 5px;
            }
        }
        footer{
            align-items: center;
            margin-top: 1rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            h3{
                color: white;
                text-shadow: 1px 1px $colorR;
                font-size: 15px;
            }
            div{
                img{
                    width: 30px;
                }
            }
            h4{
                text-shadow: 1px 1px $colorR;
                font-size: 10px;
            }
        }
    }
}